html{
    background-color:#F2C6DE;
}
.header{
    margin-top:0px;
    height:130px;
    width:1265px;
    padding-top:15px;
    align-self: center;
    opacity:0.55;
    background-color:#FAEDCB;
    
    /* background-blend-mode:screen; */
}
.heading{
    text-align:center;
    color:black;
    font-size:30px;
    font-family: 'Comfortaa', sans-serif;
}
/*******************************************************************************************************/
.container1{
    color:black;
    font-size:28px;
    font-family: 'Comfortaa', sans-serif;
    opacity:0.55;
    width:1265px;
    height:70px;
    background-color:#DBCDF0;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;

}
a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: rgb(63, 63, 3);
    background-color: transparent;
    text-decoration: none;
  }
  
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }

.cont{
    display:grid;
    height:50vh;
    background-color:rgb(152, 216, 255);
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr;
}
.a,.b,.c,.d{
    background-color:blanchedalmond;

}
