html{
    background-color:rgb(35, 33, 33);
}
h1{
    font-family:'Arvo',cursive;
    color:goldenrod;
    text-align:center;
    margin-top:5%;
    font-size:70px;
    text-shadow: 3px 0 rgb(255, 231, 97);
}
.keyboard{
    margin-top:10%;
    display:grid;
    height:45vh;
    width:90%;
    margin-left:5%;
    background-color:rgb(234, 217, 175);
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.c,.d,.e,.f,.g,.a,.b{
    background-color:rgb(243, 226, 131);
    border:2px solid black;
    color:rgb(243, 226, 131);
    box-shadow: 0 8px 8px -4px rgb(235, 244, 155);
}
.b1,.b2,.b3,.b4,.b5{
  color:black;
  box-shadow: 0 8px 8px -4px rgb(235, 244, 155);
}
.blackkeys {
    position: relative;
    top: -45vh; 
    display: grid;
    height: 30vh; 
    width: 90%;
    margin-left: 5%;
    grid-template-columns: 4fr 1fr 1fr 3fr 1fr 1fr 4fr 4fr 1fr 1fr 3fr 1fr 1fr 3fr 1fr 1fr 4fr; 
  }
  
  .b1, .b2, .b3, .b4, .b5 {
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
  }
  
  .b1 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  
  .b2 {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  
  .b3 {
    grid-column-start: 9;
    grid-column-end: 11;
  }
  
  .b4 {
    grid-column-start: 12;
    grid-column-end: 14;
  }
  
  .b5 {
    grid-column-start: 15;
    grid-column-end: 17;
  }
  